.container {
    margin-top: 80px;
}

.form-control {
    max-width: 350px;
}

#page-wrapper {
    min-height: 768px;
}

.is-loading {
    display: none;
}

.divide {
    border-top: 1px solid #9d9d9d;
    height: 0px;
}

.relative {
    position: relative;
}

.absolute-error {
    position: absolute;
    bottom: -18px;
    left: 0;
}

.text-one-line {
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.guide-tip {
    background: #eee;
    border-radius: 4px;
    padding: 10px;
    // margin: 5px 0px;
}

a {
    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }
}

.log-result {
    cursor: pointer;
    &:hover {
        background: #eee;
    }
    .log-result-icon {
        font-size: 60px;
        line-height: 0;
        .success-log-icon {
            color: #3e8f3e;
        }
        .failure-log-icon {
            color: #b92c28;
        }
    }
    .log-result-body {
        vertical-align: middle;
    }
    pre {
        font-size: 0.8em;
    }
}

.dropdown-menu {
    min-width: 200px;
}