<div ng-controller="ScheduleController as scheduleCtrl" ng-init="scheduleCtrl.init()">
    <div class="row">
        <div class="col-md-12" id="schedule-top">
            <h3><span class="glyphicon glyphicon-cog"></span> Quản lý lịch trình</h3>
            <hr>
            <form action="#" role="form" name="ScheduleForm">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="_id">ID</label>
                        <input disabled class="form-control" type="text" name="_id" ng-model="scheduleCtrl.schedule._id" placeholder="ID" />
                        <div ng-if="!ScheduleForm._id.$pristine" error-message="ScheduleForm._id.$error"></div>
                    </div>
                    <div class="form-group">
                        <label for="name">Tên lịch trình</label>
                        <input class="form-control" type="text" name="name" ng-model="scheduleCtrl.schedule.name" required placeholder="Tên lịch trình" />
                        <div ng-if="!ScheduleForm.name.$pristine" error-message="ScheduleForm.name.$error"></div>
                    </div>
                    <div class="form-group">
                        <label for="group">Chiến dịch</label>
                        <select name="campaignId" required placeholder="Chọn 1 nhóm" ng-model="scheduleCtrl.schedule.campaignId" class="form-control" ng-options="campaign._id as campaign.title for campaign in scheduleCtrl.listCampaigns">
                            <option value="">-- Chọn 1 chiến dịch</option>
                        </select>
                        <div error-message="ScheduleForm.campaignId.$error" ng-if="!ScheduleForm.campaignId.$pristine"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="cycleMinutes">Chu kỳ <span ng-if="scheduleCtrl.schedule.cycleMinutes">(Mỗi <span ng-bind="scheduleCtrl.schedule.cycleMinutes"></span> phút)</span></label>
                        <input required class="form-control" type="number" min="15" max="90" name="cycleMinutes" ng-model="scheduleCtrl.schedule.cycleMinutes" placeholder="Chu kỳ" />
                        <div ng-if="!ScheduleForm.cycleMinutes.$pristine" error-message="ScheduleForm.cycleMinutes.$error"></div>
                    </div>
                    <div class="form-group">
                        <label for="scheduleType">Kiểu lịch trình</label>
                        <select name="scheduleType" required placeholder="Chọn 1 kiểu" ng-model="scheduleCtrl.schedule.scheduleType" class="form-control">
                            <option value="">-- Chọn 1 kiểu</option>
                            <option value="count">Lặp theo số lần</option>
                            <option value="time">Lặp trong khoảng thời gian</option>
                        </select>
                        <div ng-if="!ScheduleForm.scheduleType.$pristine" error-message="ScheduleForm.scheduleType.$error"></div>
                    </div>
                    <div class="form-group" ng-if="scheduleCtrl.schedule.scheduleType=='count'">
                        <label for="runCounts">Số lần lặp</label>
                        <input required class="form-control" type="number" min="1" max="100" name="runCounts" ng-model="scheduleCtrl.schedule.runCounts" placeholder="Số lần lặp" />
                        <div ng-if="!ScheduleForm.runCounts.$pristine" error-message="ScheduleForm.runCounts.$error"></div>
                    </div>
                    <div class="form-group" ng-if="scheduleCtrl.schedule.scheduleType=='time'">
                        <label for="endTime">Thời điểm kết thúc</label>
                        <input required class="form-control" name="endTime" datetimepicker ng-model="scheduleCtrl.schedule.endTime" options="scheduleCtrl.dateOptions" />
                    </div>
                </div>
                <div class="col-md-12">
                    <button ng-disabled="ScheduleForm.$invalid" class="btn btn-primary" type="button" ng-click="scheduleCtrl.saveSchedule(ScheduleForm.$valid)">
                        <span class="glyphicon glyphicon-floppy-saved"></span> Lưu lịch trình
                    </button>
                    <button class="btn btn-info" type="button" ng-click="scheduleCtrl.resetSchedule()">
                        <span class="glyphicon glyphicon-refresh"></span> Làm mới
                    </button>
                </div>
                <div class="col-md-12" ng-if="scheduleCtrl.schedule._id">
                    <div class="spacing-10"></div>
                    <button ng-disabled="scheduleCtrl.schedule.running || !ScheduleForm.$pristine" class="btn btn-success" type="button" ng-click="scheduleCtrl.runSchedule(scheduleCtrl.schedule._id)">
                        <span class="fa fa-play"></span> Chạy lịch trình
                    </button>
                    <button ng-disabled="!scheduleCtrl.schedule.running" class="btn btn-danger" type="button" ng-click="scheduleCtrl.stopSchedule(scheduleCtrl.schedule._id)">
                        <span class="fa fa-stop"></span> Dừng lịch trình
                    </button>
                </div>
            </form>
        </div>
        <div class="col-md-12">
            <h3><span class="glyphicon glyphicon-th-list"></span> Danh sách các bài đăng đã lưu</h3>
            <hr>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <tr>
                        <th>Tên</th>
                        <th>Chu kỳ (phút)</th>
                        <th>Trạng thái</th>
                        <th>Cập nhật</th>
                        <th>Hành động</th>
                    </tr>
                    <tr ng-repeat="schedule in scheduleCtrl.listSchedules track by $index">
                        <td>
                            <strong ng-bind="schedule.name"></strong>
                        </td>
                        <td ng-bind="schedule.cycleMinutes"></td>
                        <td>
                            <span ng-if="!schedule.running" class="label label-danger"><i class="fa fa-stop"></i> Đang dừng</span>
                            <span ng-if="schedule.running" class="label label-success"><i class="fa fa-play"></i> Đang chạy</span>
                        </td>
                        <td ng-bind="schedule.modified | date:'dd/MM/yyyy hh:mm a'"></td>
                        <td>
                            <a href="javascript:void(0);" class="btn btn-xs btn-info" ng-click="scheduleCtrl.selectSchedule(schedule, $index)"><span class="glyphicon glyphicon-edit"></span> Xem</a>
                            <a href="javascript:void(0);" class="btn btn-xs btn-danger" ng-click="scheduleCtrl.removeSchedule(schedule._id, $index)"><span class="glyphicon glyphicon-trash"></span> Xóa</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>