<div ng-messages="errorMessage" role="alert" class="text-danger">
    <div ng-message="required">Bạn không được bỏ trống</div>
    <div ng-message="minlength">Bạn nhập nội dung quá ngắn</div>
    <div ng-message="maxlength">Bạn nhập nội dung quá dài</div>
    <div ng-message="min">Bạn nhập thấp hơn giá trị tối thiểu</div>
    <div ng-message="max">Bạn nhập lớn hơn giá trị tối đa</div>
    <div ng-message="pattern">Bạn nhập không đúng định dạng cho phép</div>
    <div ng-message="email">Bạn nhập không đúng định dạng email</div>
    <div ng-message="number">Bạn nhập không đúng định dạng chữ số</div>
    <div ng-message="match">Bạn nhập nội dung không trùng khớp</div>
    <div ng-message="step">Bạn hãy chọn giá trị là bội số của {{stepValue}}</div>
</div>