<div ng-controller="UserController as userCtrl">
    <div class="row">
        <div class="col-md-12">
            <h3><span class="glyphicon glyphicon-cog"></span> Quản lý các nhóm</h3>
            <hr>
            <form role="form" name="GroupForm" class="form-inline">
                <div class="form-group">
                    <input style="min-width:350px" class="form-control" type="text" name="groupUrl" ng-model="userCtrl.groupUrl" required placeholder="Tên nhóm" />
                    <div ng-if="!GroupForm.groupUrl.$pristine" error-message="GroupForm.groupUrl.$error"></div>
                </div>
                <button ng-disabled="GroupForm.$invalid" class="btn btn-primary" type="button" ng-click="userCtrl.getGroupInfo(userCtrl.groupUrl)"><i class="fa fa-search" aria-hidden="true"></i> Tìm kiếm nhóm</button>
                <button ng-click="userCtrl.resetListGroup()" class="btn btn-info"><span class="glyphicon glyphicon-refresh"></span> Làm mới</button>
            </form>
            <!--<button type="button" class="btn btn-primary" ng-click="userCtrl.fetchGroup()"><i class="fa fa-arrow-down" aria-hidden="true"></i> Lấy dữ liệu nhóm của bạn</button>-->
        </div>
        <div class="col-md-8" ng-if="userCtrl.listGroups && userCtrl.listGroups.length">
            <hr>
            <ul class="list-group">
                <li class="list-group-item {[group.disableClass]}" ng-repeat="group in userCtrl.listGroups">
                    <i class="fa fa-users"></i>
                    <a href="https://facebook.com/groups/{[group.id]}" target="_blank">{[group.name]}</a>
                    <button ng-disabled="group.disableClass" type="button" class="btn btn-xs btn-success pull-right" ng-click="userCtrl.addGroup(group)"><i class="fa fa-plus"></i> Thêm</button>
                </li>
            </ul>
        </div>
        <div class="col-md-12">
            <h3><span class="glyphicon glyphicon-th-list"></span> Danh sách các nhóm đã lưu</h3>
            <hr>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <tr>
                        <th>ID nhóm</th>
                        <th>Tên nhóm</th>
                        <th>Hành động</th>
                    </tr>
                    <tr ng-repeat="group in userCtrl.accountInfo.groups track by $index">
                        <td ng-bind="group.id"></td>
                        <td ng-bind="group.name"></td>
                        <td>
                            <a href="javascript:void(0);" class="btn btn-xs btn-danger" ng-click="userCtrl.removeGroup($index)"><span class="glyphicon glyphicon-trash"></span> Xóa</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>