<!-- <div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h1><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Tự Động Xuất Bản bài đăng Facebook</h1>
            <p>Tự động xuất bản là dịch vụ giúp bạn tự động xuất bản bài đăng (dưới dạng trạng thái, album ảnh...) vào các dòng thời gian mà bạn lựa chọn sẵn như dòng thời gian cá nhân, dòng thời gian của 1 nhóm bạn đã tham gia, dòng thời gian của một trang
                bạn quản lý...</p>
            <p>Bạn chỉ cần thiết lập bài đăng của mình 1 lần duy nhất và có thể xuất bản bất kỳ lúc nào mà không cần tốn thời gian tạo lại bài đăng mới. Ngoài ra còn có chức năng lên lịch trình giúp bạn tự động xuất bản theo lịch trình bạn đã đặt sẵn, giúp
                tiết kiệm thời gian và công sức cho các kế hoạch của bạn.</p>
            <p>
                <a href="/tro-giup" title="Tìm hiểu thêm" class="btn btn-primary btn-lg">Tìm hiểu thêm <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a>
            </p>
        </div>
    </div>
</div> -->