<div ng-controller="CampaignController as campaignCtrl" ng-init="campaignCtrl.init()">
    <div class="row">
        <div class="col-md-12" id="campaign-top">
            <h3><span class="glyphicon glyphicon-cog"></span> Quản lý chiến dịch</h3>
            <hr>
            <form action="#" role="form" name="CampaignForm">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="_id">ID</label>
                        <input disabled class="form-control" type="text" name="_id" ng-model="campaignCtrl.campaign._id" placeholder="ID" />
                        <div ng-if="!CampaignForm._id.$pristine" error-message="CampaignForm._id.$error"></div>
                    </div>
                    <div class="form-group">
                        <label for="title">Tên chiến dịch</label>
                        <input class="form-control" type="text" name="title" ng-model="campaignCtrl.campaign.title" required placeholder="Tên chiến dịch" />
                        <div ng-if="!CampaignForm.title.$pristine" error-message="CampaignForm.title.$error"></div>
                    </div>
                    <div class="form-group">
                        <label for="description">Mô tả</label>
                        <textarea disabled class="form-control" type="text" name="description" ng-model="campaignCtrl.campaign.description" placeholder="Mô tả gợi nhớ chiến dịch"></textarea>
                        <div ng-if="!CampaignForm.description.$pristine" error-message="CampaignForm.description.$error"></div>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="timeline">Dòng thời gian</label>
                        <select class="form-control" ng-model="campaignCtrl.campaign.timeline" required name="timeline" ng-change="campaignCtrl.filterTimeline()">
                            <option value="">-- Chọn 1 loại</option>
                            <option value="group">Nhóm</option>
                            <option value="page">Trang</option>
                            <option value="personal">Cá nhân</option>
                        </select>
                        <div ng-if="!CampaignForm.timeline.$pristine" error-message="CampaignForm.timeline.$error"></div>
                    </div>
                    <div class="form-group" ng-if="campaignCtrl.campaign.timeline">
                        <label for="timelineId">ID dòng thời gian</label>
                        <select name="timelineId" required placeholder="Chọn 1 mục" ng-model="campaignCtrl.campaign.timelineId" class="form-control" ng-options="timeline.id as timeline.name for timeline in campaignCtrl.timelineList">
                            <option value="">-- Chọn 1 mục</option>
                        </select>
                        <div error-message="CampaignForm.timelineId.$error" ng-if="!CampaignForm.timelineId.$pristine"></div>
                    </div>
                    <div class="form-group">
                        <label for="postType">Loại bài đăng</label>
                        <select class="form-control" ng-model="campaignCtrl.campaign.postType" required name="postType" ng-change="campaignCtrl.postTypeChange()">
                            <option value="">-- Chọn 1 loại</option>
                            <option value="feed">Trạng thái</option>
                            <option value="album">Album ảnh</option>
                        </select>
                        <div ng-if="!CampaignForm.postType.$pristine" error-message="CampaignForm.postType.$error"></div>
                    </div>
                    <div class="form-group" ng-if="campaignCtrl.campaign.postType=='feed'">
                        <label for="group">Trạng thái</label>
                        <select name="feedId" required placeholder="Chọn 1 nhóm" ng-model="campaignCtrl.campaign.feedId" class="form-control" ng-options="feed._id as feed.title for feed in campaignCtrl.listFeeds">
                            <option value="">-- Chọn 1 trạng thái</option>
                        </select>
                        <div error-message="CampaignForm.feedId.$error" ng-if="!CampaignForm.feedId.$pristine"></div>
                    </div>
                    <div class="form-group" ng-if="campaignCtrl.campaign.postType=='album'">
                        <label for="albumId">Album</label>
                        <select name="albumId" required placeholder="Chọn 1 nhóm" ng-model="campaignCtrl.campaign.albumId" class="form-control" ng-options="album._id as album.name for album in campaignCtrl.listAlbums">
                            <option value="">-- Chọn 1 album</option>
                        </select>
                        <div error-message="CampaignForm.albumId.$error" ng-if="!CampaignForm.albumId.$pristine"></div>
                    </div>
                </div>
                <div class="col-md-12">
                    <button ng-disabled="CampaignForm.$invalid" class="btn btn-primary" type="button" ng-click="campaignCtrl.saveCampaign(CampaignForm.$valid)">
                        <span class="glyphicon glyphicon-floppy-saved"></span> Lưu chiến dịch
                    </button>
                    <button class="btn btn-info" type="button" ng-click="campaignCtrl.resetCampaign()">
                        <span class="glyphicon glyphicon-refresh"></span> Làm mới
                    </button>
                </div>
                <div class="col-md-12" ng-if="campaignCtrl.campaign._id">
                    <div class="spacing-10"></div>
                    <button ng-disabled="!CampaignForm.$pristine" class="btn btn-success" type="button" ng-click="campaignCtrl.runCampaign(campaignCtrl.campaign._id)">
                        <span class="glyphicon glyphicon-play"></span> Chạy chiến dịch
                    </button>
                </div>
            </form>
        </div>
        <div class="col-md-12">
            <h3><span class="glyphicon glyphicon-th-list"></span> Danh sách các bài đăng đã lưu</h3>
            <hr>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <tr>
                        <th>Tiêu đề</th>
                        <th>Mô tả</th>
                        <th>Cập nhật</th>
                        <th>Hành động</th>
                    </tr>
                    <tr ng-repeat="campaign in campaignCtrl.listCampaigns track by $index">
                        <td>
                            <strong ng-bind="campaign.title | shortString:20"></strong>
                        </td>
                        <td>
                            <strong ng-bind="campaign.description | shortString:40"></strong>
                        </td>
                        <td ng-bind="campaign.modified | date:'dd/MM/yyyy hh:mm a'"></td>
                        <td>
                            <a href="javascript:void(0);" class="btn btn-xs btn-info" ng-click="campaignCtrl.selectCampaign(campaign)"><span class="glyphicon glyphicon-edit"></span> Xem</a>
                            <a href="javascript:void(0);" class="btn btn-xs btn-danger" ng-click="campaignCtrl.removeCampaign(campaign._id, $index)"><span class="glyphicon glyphicon-trash"></span> Xóa</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>