<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li class="{{activeMenu activeMenu 'index'}}">
            <a href="/"><i class="fa fa-home" aria-hidden="true"></i> Trang chủ</a>
        </li>
        <li class="{{activeMenu activeMenu 'groupManager'}}">
            <a href="/quan-ly-nhom"><i class="fa fa-users" aria-hidden="true"></i> Quản lý nhóm</a>
        </li>
        <li class="{{activeMenu activeMenu 'feedManager'}}">
            <a href="/quan-ly-feed"><i class="fa fa-rss-square" aria-hidden="true"></i> Quản lý bài đăng</a>
        </li>
        <li class="{{activeMenu activeMenu 'albumManager'}}">
            <a href="/quan-ly-album"><i class="fa fa-photo" aria-hidden="true"></i> Quản lý album</a>
        </li>
        <li class="{{activeMenu activeMenu 'postGroup'}}">
            <a href="/dang-len-nhom"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Đăng lên nhóm</a>
        </li>
    </ul>
</div>